.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    font-size: 24px;
    color: #f9faf8;
}
.main{
    display: flex;
    padding: 15px;
    flex-direction: column;
    background-color: #1f2937;
    padding-bottom: 50px;
  
}  
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    color: #E5e7eb;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding:10px;
}
.sec{
    display: flex;
   justify-content: space-evenly;
}
.welcome{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.page {
    font-size: 18px;
    color:#E5e7eb;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 300px;
}
.button {
    background-color: #3882f6;
    width:fit-content;
    border-radius: 25px;
}


    

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.wrapping{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    padding: 40px;
}
div.wrap{
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    align-items: center;
}
.text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container2{
    display: flex;
    background-color: #3882F6;
    justify-content: space-evenly;
    margin: 40px;
    gap: 20px;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    background-color: #e7e9ece8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cont{
    width: 600px;
    flex-wrap: wrap;
}
.author{
    display: flex;
    align-self: flex-end;
    width: 600px;
    
}
.alert{
    padding: 20px;
}
.footer{
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}



